/* Adicionando um Reset CSS inicial */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(59.76deg, #04122F 6.64%, #8792F4 86.06%);
}

/* Estilizando Cabeçalho */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    height: 62px;
}

.cabecalho-logo:hover {
    height: 52px;
}

.cabecalho-menu {
    display: flex;
    gap: 34px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FBFCFF;
}

.cabecalho-menu-item:hover {
    color: rgba(196, 205, 236, 0.5);
}

/* Estilizando Corpo Principal - Conteudo Principal*/

.conteudo {
    border-top: 0.4px solid #FBFCFF;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-texto-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FBFCFF;
}

.conteudo-principal-texto-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #D2DCFF;
}

.conteudo-principal-texto-botao {
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-size: 24px;

    background-color: #C4CDEC;
    height: 60px;
    width: 180px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 4px 0px #00000040;
}

.conteudo-principal-texto-botao:hover {
    background-color: rgba(196, 205, 236, 0.5);
}

.conteudo-principal-imagem {
    height: 430px;
}

/* Estilizando Corpo Principal - Conteudo Secundário*/

.conteudo-secundario {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #D2DCFF;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FBFCFF;
    padding-top: 30px;

    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-secundario-lista {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
    align-items: center;

    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

/* Estilizando Corpo Principal - Conteudo Secundário*/

.rodape {
    margin-top: 40px;
    border-top: 0.4px solid #FBFCFF;
    display: flex;
    justify-content: center;
}

.rodape-texto {
    padding: 30px;
    
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    color: #FBFCFF;
}
